<ion-header>
  <ion-toolbar>
    <ion-title>Painel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-title>Últimas Chamadas (Painel)</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let s of service.painel">
          {{ s.codigo }} - Guichê {{ s.guiche }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Histórico de Chamadas</ion-title>
    </ion-card-header>
    <ion-card-content style="max-height: 300px; overflow-y: auto;">
      <ion-list>
        <ion-item *ngFor="let s of service.logHistorico">
          {{ s.codigo }} - Guichê {{ s.guiche }} - Tipo {{ s.tipo }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Relatório</ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Total: {{ service.getRelatorio().total }}</ion-item>
      <ion-item>Atendidas: {{ service.getRelatorio().atendidas }}</ion-item>
      <ion-item>SP: {{ service.getRelatorio().SP }}</ion-item>
      <ion-item>SG: {{ service.getRelatorio().SG }}</ion-item>
      <ion-item>SE: {{ service.getRelatorio().SE }}</ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>




